.barra {
    padding-top: 10px;
}

.busqueda {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
    margin-top: 70px;
}

.seccion {
    margin-top: 2em;
    margin-left: 1em;
}

.categoria {
    height: 21em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.margen {
    margin: 20px;
}

.categoria-etiqueta-sm {
    position: absolute;
    top: 78%;
    background-color: rgba(255,255,255,0.85);
    width: 82%;
    text-align: center;
}

.categoria-etiqueta-lg {
    position: absolute;
    top: 78%;
    background-color: rgba(255,255,255,0.85);
    width: 92%;
    margin-left: 1.5%;
    text-align: center;
}

.super {
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.pie {
    margin-top: 50px;
    background-color: #4B4B4B;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.superior {
    position: absolute;
    margin: auto;
    top: 215px;
    left: 0;
    right: 0;
    bottom: 0;
}

.categoria-seccion {
    text-align: center;
    margin-top: 300px;
    color: white;
}

.supermercado-seccion {
    text-align: center;
    margin-top: 300px;
}

.item-contenedor {
    height: 350px;
    width: 250px;
    border: 1px solid #BFBFBF;
}

.item-imagen {
    margin-top: 10px;
    margin-left: 20px;
    height: 180px;
    width: 85%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.item-descripcion {
    margin-top: 10px;
    height: auto;
    max-height: 20px;
    width: 100%;
    text-align: center;
}

.item-precio {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.item-comprar {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    margin-top: 20px;
    height: 20px;
}

.item-comprar-cantidad {
    text-align: center;
}

.item-comprar-agregar {
    background-color: #4B4B4B;
    color: white;
}

.registro {
    padding-top: 30px;
}

invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

.has-success .form-control {
    border-color: rgb(204, 204,204) !important;
}

.has-success .control-label {
    color: #333333 !important;
}

.item-imagen-super {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;

}