@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid">
        <div class="col-md-12">
            <img src= @Url.Content("~/Content/img/bebidas-superior.png") class="superior">
        </div>
    </div>

</section>
<section>
    <div class="container-fluid">
        <h1 class="categoria-seccion">Bebidas</h1>
        <hr />
        <div class="row margen">
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty-1">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margen">
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-minus item-comprar-selector">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="qty" class="form-control qty item-comprar-cantidad" value="1" min="1" max="20" id="qty">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default qty-plus item-comprar-selector">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid pie">
        <div class="row margen"></div>
    </div>
</section>
<script type="text/javascript" src=@Url.Content("~/Content/JavaScript.js")></script>
