@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/Content")
}
@Scripts.Render("~/Scripts/js")
<section>
    <form class="margen" id="form-registro">
        <h3>Usuario</h3>
        <hr />
        <div class="row margen">
            <div class="col-md-3">
                <label for="name">Nombre</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required="required">
            </div>
            <div class="col-md-3">
                <label for="last-name">Apellido</label>
                <input type="text" name="last-name" class="form-control" id="last-name" placeholder="Apellido" required="required">
            </div>
        </div>
        <div class="row margen">
            <div class="col-md-3">
                <label for="email" class="control-label">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="e-mail" required="required">
            </div>
            <div class="col-md-3">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" class="form-control" id="pass" placeholder="contraeña" required="required">
            </div>
            <div class="col-md-3">
                <label for="pass2">Reingrese contraseña</label>
                <input type="password" name="pass2" class="form-control" id="pass2" placeholder="reingrese contraseña" required="required">
            </div>
        </div>
        <h3>Envío</h3>
        <hr />
        <div class="row margen">
            <div class="col-md-3">
                <label for="barrio">Barrio</label>
                <select class="form-control" id="barrio" name="barrio" required="required"></select>
            </div>
            <div class="col-md-6">
                <label for="addres">Dirección</label>
                <input type="text" name="addres" class="form-control" id="addres" placeholder="Dirección" required="required">
            </div>
        </div>
        <h3>Pago</h3>
        <hr />
        <div class="row margen">
            <div class="col-md-3">
                <label for="tarjeta">Tarjeta</label>
                <select class="form-control" id="tarjeta" name="tarjeta" required="required">
                    <option selected>Seleccione tarjeta</option>
                    <option value="visa">Visa</option>
                    <option value="amex">AMEX</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="tarjeta-numero">Numero</label>
                <input type="text" name="tarjeta-numero" class="form-control" id="tarjeta-numero" placeholder="Numero de tarjeta" required="required">
            </div>
            <div class="col-md-2">
                <label for="tarjeta-vencimiento">Vencimiento</label>
                <input type="text" name="tarjeta-vencimiento" class="form-control" id="tarjeta-vencimiento" placeholder="MMAA" required="required">
            </div>
            <div class="col-md-2">
                <label for="tarjeta-codigo">Cod de Seguridad</label>
                <input type="text" name="tarjeta-codigo" class="form-control" id="tarjeta-codigo" placeholder="Cod" required="required">
            </div>

        </div>
        <div class="row margen">
            <div class="col-md-9 registro">
                <div class="form-group">
                    <button type="submit" class="submit btn btn-primary" value="Submit">Registrarse</button>
                </div>
            </div>

        </div>
    </form>
</section>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.1.3/dist/bootstrap-validate.js"></script>

