@{
    ViewBag.Title = "Supermercado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid">
        <div class="col-md-12">
            <img src=@Url.Content("~/Content/img/coto.png") class="superior">
        </div>
    </div>

</section>
<section>
    <div class="container-fluid">
        <h1 class="supermercado-seccion">Productos</h1>
        <hr />
        <div class="row margen">
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div >
                        <img src=@Url.Content("~/Content/img/item-imagen.PNG") class="item-imagen" />
                    </div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margen">
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-contenedor">
                    <div class="item-imagen"></div>
                    <div class="item-descripcion">
                        <p>Coca Cola 1.5L diwajdiw wiqwjwiq wdjdwj</p>
                    </div>
                    <div class="item-precio">
                        <h4>$80,00</h4>
                    </div>
                    <div class="item-comprar">
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number item-comprar-cantidad" value="1" min="1" max="20">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number item-comprar-selector" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <div class="separador"></div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default item-comprar-agregar" data-type="" data-field="">AGREGAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>