@{
    ViewBag.Title = "Supermercado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/js")
<section>
    <div class="container-fluid" id="banner">
    </div>

</section>
<section>
    <div class="container-fluid" id="container">
        <h1 class="supermercado-seccion" hidden>Walmart</h1>
        <hr />
    </div>
</section>